.qs-bold {
	font-family: 'quicksand_bold';
}

.qs-reg {
	font-family: 'quicksand_regular';
}

#owl-main .caption h2.dark-bg span {
	background-color: #506A85;
}

.red-font-color {
	color: #FA6C65;
}

.green-font {
	color: #1ABB9C;
}

.blue-grey-font {
	color: #73879C;
}

.black-font {
	color: black;
}

.dark-grey-font {
	color: #424151;
}

.red-color-bg {
	background-color: #FA6C65; 
}

.flipper {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	display: inline-block;
}