.qs-bold {
	font-family: 'quicksand_bold';
}

.qs-reg {
	font-family: 'quicksand_regular';
}

.pretty-brown-grey {
	color: #9e9d97;
}

.light-grey {
	color: #acacac;
}

.line-h-100 {
	line-height: 100px;
}

.line-h-para {
	line-height: 1.2;
}

.vertical-a-m {
	vertical-align: middle;;
}

.border-r-3 {
	border-radius: 3px;
}

.border-l-r {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.width-300 {
	width: 280px;
}

.margin-b-0 {
	margin-bottom: 0px;
}

.inline-btn-marg {
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar-nav > li > a.border-b{
	border-bottom: none;
}

.font-s-50 {
	font-size: 50px;
}

.font-s-35{
	font-size: 35px;
}

.padding-t-0 {
	padding-top: 0;
}

.padding-b-5 {
	padding-bottom: 5px;
}
.open-sans {
	font-family: 'Source Sans Pro', sans-serif;
}

#owl-main .caption h2.dark-bg span {
	background-color: #506A85;
}

.red-font-color {
	color: #FA6C65;
}

.green-font {
	color: #1ABB9C;
}

.blue-grey-font {
	color: #73879C;
}

.black-font {
	color: black;
}

.dark-grey-font {
	color: #424151;
}

.red-color-bg {
	background-color: #FA6C65; 
}

.flipper {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	display: inline-block;
}